/// MAIN NAV
.nav {
  &-brand {
    max-width: 140px;
  }
}

/// HERO HEADERS
.hero-header {
  &__wrap {
    @apply bg-no-repeat relative overflow-hidden flex w-full;
    &-inner {
      @apply w-full;
    }
  }
  &__gradient {
    animation: animateHero 12s ease infinite;
    background-size: 200% 200%;
  }
}

/// STOCK RESEARCH TABLE
#stock-research {
  thead {
    tr {
      @apply bg-primary text-white uppercase text-sm text-left;
      th {
        @apply px-2 py-3;
        &:last-child {
          @apply  w-1/2;
        }
      }
    }
  }
  tbody {
    tr {
      @apply border-b border-gray-200 hover:bg-gray-100 text-sm;
      &:nth-child(even) {
        @apply bg-gray-50;
      }
      td {
        @apply px-2 py-1;
        &:first-child {
          @apply font-bold whitespace-nowrap;
        }
        &:nth-child(2){
          @apply font-bold;
        }
        &:nth-child(7){
          @apply whitespace-nowrap;
        }
      }
    }
  }
}

/// LABEL COLORS 
.take-profits {
  @apply bg-yellow-600;
}

.sell {
  @apply bg-red-600;
}

.spec-buy {
  @apply bg-green-400;
}

.buy {
  @apply bg-green-600;
}

.hold {
  @apply bg-yellow-400;
}


.gridjs-thead {
  .gridjs-tr {
   
  }
}

@keyframes animateHero {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 86% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

.text {
  color: #faf33e;
}

svg {
  width: 100%;
}

canvas#rating-gauge {
  width: 100% !important;
  height: auto !important;
}